<div class="container container-fluid">
  <button class="btn btn-lg btn-primary btn-block" (click)="openForm()">Create Event form</button>
  <article class="" *ngIf="isInputDisabled ===false ">
    <div class="row">
      <div class="col-xs-5">
        <form class="form-event" >
            <h2> Create Event </h2>
            <label for="name" >Name</label>
            <br>
            <input type="text" name="name" [(ngModel)]="eventInfo.name"/>
            <br>
            <label for="tokenAccess" > Password acceso</label>
            <br>
            <input type="text" name="tokenAccess" [(ngModel)]="eventInfo.tokenAccess">
            <br>
            <label for="description" > Descripcion</label>
            <br>
            <input type="text" name="description" [(ngModel)]="eventInfo.description">
            <br>
            <br>
            <button class="btn btn-lg btn-primary btn-block" (click)="add()">Add!!</button>
        </form>
      </div>
    </div>
  </article>

  <button  class="btn btn-lg btn-primary btn-block" (click)="openList()">See Events</button>
  <article class="" *ngIf="listdisabled ===false ">
      <h2> Events list </h2>
      <div *ngIf="events" >
        <p>______________________________________________</p>
        <p>{{events[0].name}}</p>
        <div *ngFor="let e of events">
          <button (click)="edit(e._id)">EDIT</button>
          <button (click)="remove(e._id)">REMOVE</button>
          <button (click)="show(e._id)">SHOW</button>
          <h3> {{ e.name }} </h3>
          <h3> {{ e.active }} </h3>
          <p>______________________________________________</p>
        </div>
      </div>
  </article>

  <article *ngIf="individualDisabled===false ">
    <div >
      <br>
      <img src="{{ individual.imgUrl }}">
      <h3> {{ individual.name }} </h3>
      <h3> {{ individual.state }} </h3>
      <p> {{ individual.description }} </p>
      <ul *ngFor="let participant of participantsListEvent">
        <li> {{ participant.name }} <h2>{{ participant.points }} </h2>
          <button class="btn btn-lg btn-primary btn-block" (click)="removeParticipant(individual._id,participant._id)" >Remove!!</button>
        </li>
      </ul>
      <p>______________________________________________</p>
    </div>
    <form class="form-event">
        <h2> Add Participant </h2>
        <label for="name" >Name</label>
        <br>
        <input type="text" name="name" [(ngModel)]="formParticipant.name"/>
        <br>
        <label for="points" > Points</label>
        <br>
        <input type="text" name="points" [(ngModel)]="formParticipant.points">
        <br>
        <button class="btn btn-lg btn-primary btn-block" (click)="addParticipant(individual._id)" >Add!!</button>
    </form>
</article>
<article class=""  *ngIf="individualDisabled===false">
      <app-leaderboard></app-leaderboard>
      <app-tournament></app-tournament>
</article>
</div>
