<div class="container container-fluid">
  <div class="jumbotron" id="jumbo1">
      <div class="container container-fluid">
        <div class="jumbotron jumbo2" >
          <img class="event-form" src="http://i64.tinypic.com/20f69uo.png" (click)="openForm()" alt="">
          <img class="event-list" src="http://i68.tinypic.com/3008kco.png" (click)="openList()" alt="">
          <br>
          <!-- <button class="btn btn-lg btn-primary btn-block" (click)="openForm()">Create Event form</button> -->
          <div class="" *ngIf="isInputDisabled ===false ">
            <div class="row">
              <div class="col-xs-5">
                <form class="form-event" >
                    <h2> Create Event </h2>
                    <label for="name" >Name</label>
                    <br>
                    <input type="text" name="name" [(ngModel)]="eventInfo.name"/>
                    <br>
                    <label for="tokenAccess" > Password acceso</label>
                    <br>
                    <input type="text" name="tokenAccess" [(ngModel)]="eventInfo.tokenAccess">
                    <br>
                    <label for="description" > Descripcion</label>
                    <br>
                    <input type="text" name="description" [(ngModel)]="eventInfo.description">
                    <br>
                    <label for="imgUrl" > Url Imagen</label>
                    <br>
                    <input type="text" name="imgUrl" placeholder="URL" [(ngModel)]="eventInfo.imgUrl">
                    <br>
                    <br>
                    <button class="btn btn-lg btn-primary btn-block" (click)="add()">Add!!</button>
                  </form>
                  <div class="message  alert-success">
                    <strong>{{message}}</strong>
                  </div>
                </div>
              </div>
          </div>

          <div class="row">
            <!-- <button  class="btn btn-lg btn-primary btn-block" (click)="openList()">See Events</button> -->
            <div class="" *ngIf="listdisabled ===false ">
                <div *ngIf="events" class="container" >
                  <div class="jumbotron jumbo2">
                    <h2> Events list </h2>
                    <hr>
                    <div *ngFor="let e of events">
                      <h3> {{ e.name }} </h3>
                      <p> {{ e.description }} </p>
                      <button class="btn btn-sm btn-primary"  (click)="edit(e._id)">EDIT</button>
                      <button class="btn btn-sm btn-primary btn-danger" (click)="remove(e._id)">REMOVE</button>
                      <button class="btn btn-sm btn-primary" (click)="show(e._id)">SHOW</button>
                      <hr>
                    </div>
                  </div>
                </div>
            </div>

            <div *ngIf="individualDisabled===false ">
              <div >
                <br>
                <img src="{{ individualEvent.imgUrl }}">

                <h3> Event name: {{ individualEvent.name }} </h3>
                <p> Description: {{ individualEvent.description }} </p>
                <h4>Participants List:</h4>
                <hr>
                <ul *ngFor="let participant of participantsListEvent" class="list-group floatleft">
                  <li class="list-group-item active">
                    <h4><strong>{{ participant.name }}</strong>
                      <span class="badge badge-default badge-pill">{{ participant.points }}pts</span>
                      <button class="btn btn-primary btn-danger participantSort" (click)="removeParticipant(individualEvent._id,participant._id)" ><strong>X</strong></button>
                    </h4>
                  </li>
                </ul>
                <div class="clear"></div>
                <hr>
              </div>
              <form class="form-event2">
                  <h2> Add Participant </h2>
                  <label for="name" >Name</label>
                  <br>
                  <input type="text" name="name" [(ngModel)]="formParticipant.name"/>
                  <br>
                  <label for="points" > Points</label>
                  <br>
                  <input type="text" name="points" [(ngModel)]="formParticipant.points">
                  <br>
                  <button class="btn btn-lg btn-primary btn-block" (click)="addParticipant(individualEvent._id)" >Add!!</button>
              </form>
              <div class="message  alert-success">
                <strong>{{participantMessage}}</strong>
              </div>
          </div>
          <div class=""  *ngIf="showEvent===false">
                <app-leaderboard [currentEvent]="currentEvent"></app-leaderboard>
                <app-tournament [currentEvent]="currentEvent"></app-tournament>
          </div>
          <button  class="btn btn-lg btn-primary btn-block" (click)="toggleAll()">Close All</button>
        </div>
      </div>
    </div>
  </div>
</div>
