#jumbo1{
    background: url("https://wallpaperscraft.com/image/board_black_line_texture_background_wood_55220_1920x1080.jpg") repeat center center scroll;
}
.message{
  margin-left: 40%;
margin-top: 4%;
}
.form-event{
  margin-left: 40%;
}
.event-list ,.event-form{
  width: 20%;
  height: 20%;
  // float: left;
margin: 4em 2em;
line-height: 60px;
-webkit-transition: 1s ease-in-out;
-moz-transition: 1s ease-in-out;
-o-transition: 1s ease-in-out;
transition: 1s ease-in-out;
}

.event-list:hover,.event-form:hover{
  -webkit-transform: translate(3em,0);
-moz-transform: translate(3em,0);
-o-transform: translate(3em,0);
-ms-transform: translate(3em,0);
transform: translate(3em,0);
}

.jumbo2{
    background: url("https://secure.static.tumblr.com/0c4f5d1846980a3c9e513650838de539/eyjoqgq/vKIn9flnw/tumblr_static_blackboard-background-texture.jpg") repeat center center scroll;
    box-shadow: 1px 1px 9px rgba(1, 1, 1, 1);
}
input{
  color:black;
}
.btn{
  box-shadow: 1px 1px 9px rgba(1, 1, 1, 1);
}
li{
  list-style-type: none
}
.list-group-item{
  margin-left: 38%;
  margin-right: 40%;
}
