<div class="container">
  <button type="button" name="button" (click)="showParticipants()" class="btn btn-primary btn-success">
    <span class="glyphicon glyphicon-open"></span>UPDATE LIST</button>
  <p>
    LEADERBOARD
  </p>
  <table class="table-bordered table-hover table-responsive Info">
    <tr>
      <th>Position</th>
      <th>participant</th>
      <th>Points</th>
    </tr>
    <tr *ngFor="let participant of currentList; let i = index">
      <td>{{i+1}}</td>
      <td>{{participant.name}}</td>
      <td>
        <input type="text" name="points" #points value="{{participant.points}}">
        <button type="button" name="button" (click)="UpdatePoints(participant._id, points.value)"class="btn btn-primary btn-success">
          <span class="glyphicon glyphicon-open"></span>UPDATE POINTS</button>
      </td>
    </tr>
  </table>

</div>
