<div class="container">
  <button type="button" name="button" (click)="showParticipants()">UPDATE LIST</button>
  <p>
    this is the leaderBoard
  </p>
  <table>
    <tr>
      <th>Position</th>
      <th>participant</th>
      <th>Points</th>
    </tr>
    <tr *ngFor="let participant of currentList; let i = index">
      <td>{{i+1}}</td>
      <td>{{participant.name}}</td>
      <td>
        <input type="text" name="points" #points value="{{participant.points}}">
        <button type="button" name="button" (click)="UpdatePoints(participant._id, points.value)">UPDATE POINTS</button>
      </td>
    </tr>
  </table>

</div>
