<h1><app-header></app-header></h1>

<div class="container" *ngIf="!user" >
  <button class="btn btn-lg btn-primary btn-block" (click)="openForm()">Acess now!</button>
  <form class="form-signin" *ngIf="isInputDisabled ===false ">    <!-- *ngIf="!user" -->
      <h2 class="form-signin-heading"> Login or Signup </h2>
      <label class="sr-only"> Username </label>
      <input class="form-control" placeholder="USERNAME"  type="text" [(ngModel)]="formInfo.username" name="username"/>
      <br>
      <label class="sr-only"> Password </label>
      <input class="form-control" placeholder="PASSWORD" type="password" [(ngModel)]="formInfo.password" name="password"/>

      <button class="btn btn-lg btn-primary btn-block" (click)="login()"> Login </button>
      <button class="btn btn-lg btn-primary btn-block" (click)="signup()"> Signup </button>
      <p *ngIf="error" class="alert alert-danger" role="alert"> {{ error }} </p>
    </form>
</div>
<div class="container" *ngIf="!user">
<h2>
    <app-landing></app-landing>
</h2>
</div>

<div *ngIf="user">
    <button (click)="logout()"> logout </button>
  <h2> Welcome {{ user.username }}!! </h2>
  <app-board></app-board>


</div>


  <!-- <router-outlet></router-outlet> -->

<h2><app-footer></app-footer></h2>
