.btn-primary {
    color: #fff;
    width: auto;
    height: auto;
    background-color: #53D870;
    border-color: none;
    position: relative;
    padding: 10px 40px;
    line-height: 1.3333333;
    display: inline-block;
    text-align: center;
    vertical-align: middle;

  }
.btn  hover{
  background-color: #53D870;
  border-color: none;
  }
  .btn-block{
    margin-left: 2%;
    margin-top: 1%;
    color: #fff;
    width: auto;
    height: auto;
    background-color: #53D870;
    border-color: none;
    position: relative;
    padding: 20px 40px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
  .form-signin{
    cursor: crosshair;
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom:22%;
    //i68.tinypic.com/zu051k.jpg //[IMG][/IMG]http://i65.tinypic.com/wu2r6a.png http://i66.tinypic.com/2ynntad.jpg[IMG][/IMG]
    background: url("http://i63.tinypic.com/2hydvnc.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: 99%;
    color: #fff;
        text-align: center;
        text-shadow: 0 1px 3px rgba(0,0,0,.5);
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 14px;
      line-height: 1.42857143;
      -webkit-tap-highlight-color: rgba(0,0,0,0);

  }
  .form-signin-heading{
    padding: 10px 40px;
    text-align: center;
    background-color: #53D870;
    width: 40%;
    margin-top: 17%;
    line-height: 1.3333333;
    display: inline-block;
    vertical-align: middle;
  }
.form-control{
  width: 40%;
    padding: 10px 40px;
    line-height: 1.3333333;
    display: inline-block;
    vertical-align: middle;
  }
