<app-header></app-header>

<div class="container" *ngIf="!user">
  <article class="login">
    <!-- <img class="open-form" src="http://www.ryerson.ca/svz/projects/Access-Now/jcr:content/center/uiwcolumns/conContainer_0_0/uiwimage.img.png/1459521805394.png" alt="" (click)="openForm()"> -->
    <button class="btn btn-lg btn-primary " (click)="openForm()">Acess now!</button>
    <form class="form-signin" *ngIf="isInputDisabled ===false ">
      <!-- *ngIf="!user" -->
      <h2 class="form-signin-heading"> Login or Signup </h2>
      <br>
      <label class="sr-only"> Username </label>
      <input class="form-control" placeholder="USERNAME" type="text" [(ngModel)]="formInfo.username" name="username" />
      <br>
      <label class="sr-only"> Password </label>
      <input class="form-control" placeholder="PASSWORD" type="password" [(ngModel)]="formInfo.password" name="password" />
      <br>
      <button class="btn btn-lg btn-block" (click)="login()"> Login </button>
      <button class="btn btn-lg  btn-block" (click)="signup()"> Signup </button>
      <p *ngIf="error" class="alert alert-danger" role="alert"> {{ error }} </p>
    </form>
  </article>
  <app-landing></app-landing>
</div>


<div *ngIf="user">
  <img  class="logout" src="http://www.clker.com/cliparts/4/8/K/S/j/6/exit-button-md.png" alt="" (click)="logout()">
  <!-- <button class="btn btn-md btn-primary btn-block logout" (click)="logout()"> Logout </button> -->
  <!-- <h2> Welcome {{ user.username }}!! </h2> -->
</div>

<router-outlet></router-outlet>

<app-footer></app-footer>
